README.md
.DS_Store
.bin
.git
.gitignore
.ruby-version
.tool-versions
.bundle
.byebug_history
.rspec
.idea
tmp
log
test
config/deploy
public/packs
public/packs-test
node_modules
yarn-error.log
coverage/